

<div class="card p-4">

  <h4>Most read genres</h4>

  <span>{{userName()}} most read genre is {{mostReadGenre()?.value}}</span>


  @if (genreBreakdown.hasValue()) {
    <app-bar-chart
      [data]="data()"
      [axisLabels]="labels()"
      [axisLabelsRight]="labelsRight()"
      [showLabels]="false"
      [horizontal]="true"
      [showToolTips]="false"
      labelPosition="right"
    />
  }

  <span class="text-muted">{{genreBreakdown.value()?.missing}} series are missing genre's</span>

</div>
