

<div class="card p-4" *transloco="let t; prefix: translationKey()">

  <span>{{t('title')}}</span>

  @if (breakDown().hasValue()) {
    <h4>{{t('sub-title', {name: userName(), mostUsed: mostUsed()?.value})}}</h4>

    <app-bar-chart
      [data]="data()"
      [axisLabels]="labels()"
      [axisLabelsOther]="labelsRight()"
      [showLabels]="false"
      [horizontal]="true"
      [showToolTips]="false"
      labelPosition="right"
      [multiColor]="true"
    />

    <span class="text-muted">{{t('missing', {amount: breakDown().value()?.missing})}}</span>
  } @else if (breakDown().isLoading()) {
    <app-loading [loading]="true" />
  }

</div>
