/*This is for stats card on Profile/Stats page*/

.stats-title {
  font-size: 0.875rem;
  color: #8b95a5;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.stats-subtitle {

}

.stats-card {
  background: var(--bs-body-bg);
}
