<ng-container *transloco="let t; prefix: 'profile'">
  @let user = memberInfo();
  @let username = user.username | titlecase;

  @if (user) {

    <h1>{{username}}</h1>

    <div class="main-container container-fluid pt-2 mb-5">
      <div class="row mb-0 mb-xl-3 info-container">
        @if (hasCoverImage()) {
          <div class="image-container col-5 col-sm-6 col-md-5 col-lg-5 col-xl-2 col-xxl-2 col-xxxl-2 d-none d-sm-block mt-2">
            <div class="person-badge">
              <app-image objectFit="cover"
                         [styles]="{'object-position': 'top'}"
                         height="200px"
                         width="200px"
                         [imageUrl]="imageService.noPersonImage"
                         [errorImage]="imageService.noPersonImage" />
            </div>
          </div>
        } @else {
          <div class="image-container col-5 col-sm-6 col-md-5 col-lg-5 col-xl-2 col-xxl-2 col-xxxl-2 d-none d-sm-block mt-2">
            <div class="person-badge d-flex align-items-center justify-content-center">
              <i class="fas fa-user" aria-hidden="true"></i>
            </div>
          </div>
        }

        <div class="col-xl-10 col-lg-7 col-md-12 col-xs-12 col-sm-12 mt-2">
          <div class="row g-0 mt-2">
            Joined: {{user.createdUtc | utcToLocaleDate | timeAgo}}
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-tabs-container mb-2">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav nav-tabs" [destroyOnHide]="false" (navChange)="onNavChange($event)">

        <li [ngbNavItem]="TabID.Overview">
          <a ngbNavLink>{{t(TabID.Overview)}}</a>
          <ng-template ngbNavContent>
            @defer (when activeTabId === TabID.Overview; prefetch on idle) {
              Overview Here
            }
          </ng-template>
        </li>

        <li [ngbNavItem]="TabID.Stats">
          <a ngbNavLink>{{t(TabID.Stats)}}</a>
          <ng-template ngbNavContent>
            @defer (when activeTabId === TabID.Stats; prefetch on idle) {
              Stats Here
              <app-activity-graph />

              <app-reading-pace [userId]="user.id" [userName]="username"/>

              <div class="row mt-4">
                <div class="col-md-6">
                  <app-fiction-graph />
                </div>
                <div class="col-md-6">
                  <app-preferred-format />
                </div>
              </div>

              <!--TODO: In the component, use defer to avoid extra loading on the initial page-->

              <div class="row mt-4">
                <div class="col-md-6">
                  <app-string-breakdown [userId]="userId()" [userName]="username" [breakDown]="genreBreakdown" translationKey="genre-breakdown" />
                </div>
                <div class="col-md-6">
                  <app-string-breakdown [userId]="userId()" [userName]="username" [breakDown]="tagsBreakdown" translationKey="tag-breakdown" />
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-md-6">
                  <app-page-spread [userId]="user.id" [userName]="username" />
                </div>
                <div class="col-md-6">
                  <app-word-spread [userId]="user.id" [userName]="username" />
                </div>
              </div>
            }
          </ng-template>


        <li [ngbNavItem]="TabID.Reviews">
          <a ngbNavLink>{{t(TabID.Reviews)}}</a>
          <ng-template ngbNavContent>
            @defer (when activeTabId === TabID.Reviews; prefetch on idle) {
              @if (reviewsResource.hasValue()) {
                <div class="row mx-2">
                  @for(review of reviewsResource.value(); track review) {
                    <div class="col-md-12">
                      <app-review-list-item [review]="review" />
                      <div class="setting-section-break"></div>
                    </div>
                  } @empty {
                    {{t('no-reviews')}}
                  }
                </div>
              }
            }
          </ng-template>
        </li>
      </ul>
    </div>

    <div [ngbNavOutlet]="nav"></div>
  }


</ng-container>
