<ng-container *transloco="let t; prefix: 'profile'">
  @let user = memberInfo();
  @let username = user.username | titlecase;

  @if (user) {

    <h1>{{username}}</h1>

    <div class="main-container container-fluid pt-2 mb-5">
      <div class="row mb-0 mb-xl-3 info-container">
        <app-profile-image [userId]="userId()" />

        <div class="col-xl-10 col-lg-7 col-md-12 col-xs-12 col-sm-12 mt-2">
          <div class="row g-0 mt-2">
            {{t('joined-label', {date: user.createdUtc | utcToLocaleDate | timeAgo})}}
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-tabs-container mb-2">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav nav-tabs" [destroyOnHide]="false" (navChange)="onNavChange($event)">

        <li [ngbNavItem]="TabID.Overview">
          <a ngbNavLink>{{t(TabID.Overview)}}</a>
          <ng-template ngbNavContent>
            @defer (when activeTabId === TabID.Overview; prefetch on idle) {
              Overview Here
            }
          </ng-template>
        </li>

        <li [ngbNavItem]="TabID.Stats">
          <a ngbNavLink>{{t(TabID.Stats)}}</a>
          <ng-template ngbNavContent>
            @defer (when activeTabId === TabID.Stats; prefetch on idle) {

              <form [formGroup]="filterForm" class="d-flex align-content-center align-items-center">
                <h4 class="mx-2">{{t('stats-title', {username: username, libraryName: ''})}}</h4>
                @if (filterForm.get('libraries'); as control) {

                  @if (!showLibraryTypeahead()) {
                    <h4 class="me-2" (click)="showLibraryTypeahead.set(true)">
                      @if (allLibraries().length === control.value?.length) {
                        Kavita
                      } @else {
                        @for (lib of (control.value ?? []); track lib) {
                          {{libraryName(lib)}}
                          @if (!$last) {,}
                        }
                      }
                    </h4>
                  }

                  @if (showLibraryTypeahead() && libraryTypeaheadSettings) {
                    <app-typeahead [settings]="libraryTypeaheadSettings" (selectedData)="updateSelectedLibraries($event)" id="library-typeahead">
                      <ng-template #optionItem let-lib>
                        {{lib.name}}
                      </ng-template>
                      <ng-template #badgeItem let-lib>
                        {{lib.name}}
                      </ng-template>
                    </app-typeahead>
                  }
                }

                <app-smart-time-range-picker (timeRangeUpdate)="updateTimeRange($event)" />

              </form>

              @let filterValue = filter();

              @if (filterValue) {
                <div class="row mt-4">
                  <div class="col-md-12">
                    <app-activity-graph [userId]="userId()" [year]="year()" [filter]="filterValue" />
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-6">
                    <app-reading-pace [userId]="user.id" [year]="year()" [userName]="username"/>
                  </div>
                  <div class="col-md-6">
                    <app-preferred-format />
                  </div>
                </div>

                <!--TODO: In the component, use defer to avoid extra loading on the initial page-->

                <div class="row mt-4">
                  <div class="col-md-6">
                    <app-string-breakdown [userId]="userId()" [userName]="username" [breakDown]="genreBreakdown" translationKey="genre-breakdown" />
                  </div>
                  <div class="col-md-6">
                    <app-string-breakdown [userId]="userId()" [userName]="username" [breakDown]="tagsBreakdown" translationKey="tag-breakdown" />
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-md-6">
                    <app-bucket-spread-chart [userId]="user.id" [userName]="username" [bucketSpreadResource]="pageSpreadResource" endRangeFallback="1000+" translationKey="page-spread" />
                  </div>
                  <div class="col-md-6">
                    <app-bucket-spread-chart [userId]="user.id" [userName]="username" [bucketSpreadResource]="wordSpreadResource" translationKey="word-spread" />
                  </div>
                </div>

                <div class="row mt-4">
                  <app-favourite-authors [userId]="user.id" [userName]="username" [statsFilter]="filterValue" />
                </div>
              }

            }
          </ng-template>


        <li [ngbNavItem]="TabID.Reviews">
          <a ngbNavLink>{{t(TabID.Reviews)}}</a>
          <ng-template ngbNavContent>
            @defer (when activeTabId === TabID.Reviews; prefetch on idle) {
              @if (reviewsResource.hasValue()) {
                <div class="row mx-2">
                  @for(review of reviewsResource.value(); track review) {
                    <div class="col-md-12">
                      <app-review-list-item [review]="review" />
                      <div class="setting-section-break"></div>
                    </div>
                  } @empty {
                    {{t('no-reviews')}}
                  }
                </div>
              }
            }
          </ng-template>
        </li>
      </ul>
    </div>

    <div [ngbNavOutlet]="nav"></div>
  }


</ng-container>
