<ng-container *transloco="let t; prefix:'page-spread'">
  <div class="card p-4">
    <h4>Books By Page Count</h4>

    <span>Most of {{userName()}}'s books are between {{highestBucket()}} pages</span>


    @if (pageSpreadResource.hasValue()) {
      <app-bar-chart
        [data]="data()"
        [axisLabels]="labels()"
        [axisLabelsRight]="labelsRight()"
        [showLabels]="true"
        [horizontal]="false"
        [showToolTips]="true"
        labelPosition="top"
        [tooltipTemplate]="tooltip"
      />
    }
  </div>
</ng-container>

<ng-template #tooltip let-data>
  <div class="p-2 rounded border border-white bg-primary text-white shadow">
    {{ data }}
  </div>
</ng-template>

