<ng-container *transloco="let t; prefix: 'profile-review-list'">
  @if (true) {
    <div class="row mx-2">
      @if (reviews().length === 0) {
        {{t('no-data')}}
      } @else {
        <form [formGroup]="formGroup">
          <div class="row">
            <div class="col-9">
              <input class="form-control" type="text" [placeholder]="t('filter-label')" formControlName="query"/>
            </div>
            <div class="col-3 d-flex">
              <ngx-stars [size]="1"
                         [maxStars]="5" [color]="starColor" (ratingOutput)="updateRating($event)"/>
              <button class="btn btn-icon ms-1" (click)="resetRating()" style="padding: 0 0 12px;">
                <i class="fas fa-ban" style="font-size: 0.8rem; color: var(--primary-color)" aria-hidden="true"></i>
                <span class="visually-hidden">{{t('clear-rating-alt')}}</span>
              </button>
            </div>
          </div>
        </form>

        <virtual-scroller #scroll [items]="reviews()" [childHeight]="2"
                          [parentScroll]="scroll.window" [bufferAmount]="10">
          @for (review of scroll.viewPortItems; track review) {
            <div class="col-md-12">
              <app-review-list-item [review]="review" />
              <div class="setting-section-break"></div>
            </div>
          }
        </virtual-scroller>
      }
    </div>
  }
</ng-container>
