<ng-container *transloco="let t; prefix: 'profile-review-list'">
  @if (reviewsResource.hasValue()) {
    <div class="row mx-2">
      @if (reviewsResource.value().length === 0) {
        {{t('no-reviews')}}
      } @else {
        <div class="row">
          <div class="col-9">
            <input class="form-control" type="text" [placeholder]="t('filter-label')"/>
          </div>
          <div class="col-3">
            <ngx-stars (ratingOutput)="updateFilter('rating', $event)" [size]="1"
                       [maxStars]="5" [color]="starColor" />
          </div>
        </div>

        <virtual-scroller #scroll [items]="reviewsResource.value()" [childHeight]="2"
                          [parentScroll]="scroll.window" [bufferAmount]="10">
          @for (review of scroll.viewPortItems; track review) {
            <div class="col-md-12">
              <app-review-list-item [review]="review" />
              <div class="setting-section-break"></div>
            </div>
          }
        </virtual-scroller>
      }
    </div>
  }
</ng-container>
