<ng-container *transloco="let t; prefix: 'review-list-item'">

  @let item = review();

  @if (item) {
    <div class="d-flex flex-row g-0 reading-list-item">
      <div class="d-none d-md-block pe-2">
        <app-image width="106px" [styles]="{'max-height': '125px'}" class="img-top me-3" [imageUrl]="imageUrl()" />
      </div>

      <div class="flex-grow-1">
        <div class="g-0">
          <h5 class="mb-1 pb-0">
            {{title()}}
            <div class="actions float-end">
              <app-card-actionables />
            </div>

          </h5>
          <div class="ps-1 d-none d-md-inline-block mb-1">
<!--            <app-series-format [format]="item.seriesFormat" />-->
<!--            <a href="/library/{{item.libraryId}}/series/{{item.seriesId}}">{{item.seriesName}}</a>-->
          </div>

          <app-read-more [text]="item.body || ''" [showToggle]="false" [maxLength]="500" />


          @if (item.createdUtc !== '0001-01-01T00:00:00') {
            <div class="ps-1 mt-2">
              {{t('created-label', {date: item.createdUtc | date:'longDate'})}}
            </div>
          }
        </div>
      </div>

    </div>
  }

</ng-container>
