<ng-container *transloco="let t; prefix: 'review-list-item'">

  @let item = review();

  @if (item) {
    <div class="d-flex flex-row reading-list-item">
      <div class="d-none d-md-block pe-2"  [ngbTooltip]="item.series.name">
        <app-image width="106px" [styles]="{'max-height': '125px'}" class="img-top me-3" [imageUrl]="imageUrl()" />
      </div>

      <div class="flex-grow-1">
        <div class="g-0">
          <h5 class="mb-1 pb-0">
            <a class="ms-1" href="/library/{{item.libraryId}}/series/{{item.seriesId}}">{{title()}}</a>
            <div class="actions float-end">
              <app-card-actionables />
            </div>
          </h5>
          <div class="mb-1">
            <ngx-stars [initialStars]="item.rating" [size]="1" [maxStars]="5" [color]="starColor" [readonly]="true" />

            @if (item.writers.length > 0) {
              {{t('by-label')}}
            }

            @for(writer of item.writers; track writer; let last = $last) {
              <a href="/person/{{writer.name}}">{{writer.name}}</a>
              @if (!last) {
                ,
              }
            }
          </div>

          <app-read-more [text]="item.body || ''" [showToggle]="false" [maxLength]="500" />


          @if (item.createdUtc !== '0001-01-01T00:00:00') {
            <div class="ps-1 mt-2">
              <span class="visually-hidden">{{t('created-alt')}}</span>
              {{item.createdUtc | date:'longDate'}}
            </div>
          }
        </div>
      </div>

    </div>
  }

</ng-container>
